:root {
  --dark-blue: #1f2e35;
  --white: #fff;
  --blue-button: #0086d6;
  --ligth-blue: #e1ebfb;
  --medium-blue: #335ef7;
  --stroke: #696969;
  --stroke-light: #dedede;
  --light-gray-text: #475e69;
  --pink-text: #ff3366;
  --green-text: #2fd886;
  --yellow-text: #ffc942;
  --card-gray: #f5f5f5;
  --bg-gray: #f9f9f9;
}
